// Fix for Roboto font path
$roboto-font-path: '../assets/';
// Materialize styles
// @import 'components/variables';
@import "materialize";
@import 'ember-cli-materialize';
@import "ember-routable-modal/core";
@import "ember-routable-modal/dialog";
// styling for the landing page on index
.banner-home{
   padding: 10%;
   background-image: url('http://i.imgur.com/W8bsl6N.jpg');
   background-position: center center;
   background-size: cover;
   background-color:rgba(0, 0, 0, 0.3);
   background-attachment: fixed;
   height: 730px;
}

nav {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: rgba(0, 0, 0, 0.3);
}

// footer {
//   background: #000;
//   background: linear-gradient(to right, #9d9d9d, #000);
// }
.devlink-repo {
  max-height: 325px;
}

.card {
  margin-top: 50px;
}

.card-image {
  height: 100%;
}

.card-content {
  padding-top: 1%;
  margin-top: 0;
}

body {
  background: #F1F1F1; //giving the body background a simple styling in order to achieve better UI
  // background: #159957;
  // /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #155799, #159957);
  // /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #155799, #159957);
  // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background-color: rgba(0, 0, 0, 0.3);
}

h1,
h4 {
  text-shadow: 1px 1px 1px #9b9b9b;
}

// h2 {
//   color: #fff;
// }

// developer index styling
.second {
  padding: 3%;
  height: 30%;
}

// question index styling 
.third {
  padding: 5%;
  background-image: url('http://i.imgur.com/83KiFkV.png');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-attachment: fixed;
  height: 30%;
}

#dev-container {
  padding: 3%;
}

#index-questions {
  margin-top: 0%;
}

#developer-landing {
  padding: 12%;
  background-image: url('http://i.imgur.com/0GjsRvO.jpg');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-attachment: fixed;
  height: 70%;
}

#devs-header {
  color: #fff;
  text-shadow: 2px 4px 4px 2px #9b9b9b;
}

#ask-card-hover:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
  filter: alpha(opacity=50);
  cursor: pointer;
}

#ask-card-hover {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#question-card-index-height {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.9;
  filter: alpha(opacity=50);
  transition: all 0.3s;
}

.parallx {
  background: rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3%;
  color: #f1f1f1
}

.blog-image {
  padding: 10%;
  background-image: url('http://i.imgur.com/9zR9O5L.png');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
}

div.card-container {
  -moz-column-width: 23rem;
  -webkit-column-width: 23rem;
  -moz-column-gap: 1rem;
  -webkit-column-gap: 1rem;
}

.card {
  display: inline-block;
  width: 100%;
}

.crop {
  background-image: url('http://i.imgur.com/gutqCr0.png');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
  padding: 3%;
  margin-top: 2rem;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#dev-container {
  padding: 3%;
}

#index-questions {
  margin-top: 0%;
}

#developer-landing {
  padding: 12%;
  background-image: url('http://i.imgur.com/0GjsRvO.jpg');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-attachment: fixed;
  height: 70%;
}

#devs-header {
  color: #fff;
  text-shadow: 2px 4px 4px 2px #9b9b9b;
}

#ask-card-hover:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
  filter: alpha(opacity=50);
  cursor: pointer;
}

#ask-card-hover {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#question-card-index-height {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.9;
  filter: alpha(opacity=50);
  transition: all 0.3s;
}

.parallx {
  background: rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3%;
  color: #f1f1f1
}

.blog-image {
  padding: 10%;
  background-image: url('http://i.imgur.com/9zR9O5L.png');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
}

div.card-container {
  -moz-column-width: 23rem;
  -webkit-column-width: 23rem;
  -moz-column-gap: 1rem;
  -webkit-column-gap: 1rem;
}

.card {
  display: inline-block;
  width: 100%;
}

.crop {
  background-image: url('http://i.imgur.com/gutqCr0.png');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
  padding: 3%;
  margin-top: 2rem;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#edit {
  margin-left: 96%;
}

#dev-bio {
  display: none; //hidding the bio so as to send an empty value to firebase.
}

.tile{
  padding: 3%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
