// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
// @import 'components/variables';
@import "materialize";
@import 'ember-cli-materialize';
@import "ember-routable-modal/core";
@import "ember-routable-modal/dialog";

// styling for the landing page on index
.banner-home{
   padding: 10%;
   background-image: url('http://i.imgur.com/0GjsRvO.jpg');
   background-position: center center;
   background-size: cover;
   background-color:rgba(0, 0, 0, 0.3);
   background-attachment: fixed;
   height: 730px;
}

nav {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
    margin-top: 50px;
}

.card-image{
 height:100% ;   
}

.card-content {
padding-top:1%;
margin-top: 0;
}

body {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color:rgba(0, 0, 0, 0.3);
}

// developer index styling
.second {
   
   padding: 3%;
   height: 500px;
}
// question index styling 
.third {
   padding: 5%;
   background-image: url('http://i.imgur.com/83KiFkV.png');
   background-position: center center;
   background-size: cover;
   background-color:rgba(0, 0, 0, 0.3);
   background-attachment: fixed;
   height: 760px;
}
