<header class="header parallx center">
    <h4>An online platform that allows developers to create online profiles. They ask and get answers from each other, rate their favorite languages and remain up to date with the latest news and language.</h4>
</header>
<header class="header parallx center">

</header>
<div class="crop">
    <div class="row center">
        <div class="col m4">
            <h3>Developers profiles</h3>
            <p>Here developers profiles are displayed.</p>
        </div>
        <div class="col m4">
            <h3>Interactive Forum</h3>
            <p>A question and answer tech related board</p>
        </div>
        <div class="col m4">
            <h3>programming languages</h3>
            <p>Informational page for programming languages and links to their resources.</p>
        </div>
    </div>    
</div>
