<div class="navbar-fixed">
  <!-- this will give the navbar the fixed property -->
  <nav>
    <div class="nav-wrapper">
      {{#link-to 'index' class="brand-logo center"}}Logo{{/link-to}}
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'forum'}}Forum{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session.isAuthenticated}}
        <button class="waves-effect waves-light btn" {{action 'logout'}}>Logout</button>
        {{/if}}
        <li>{{#link-to 'developer'}}Developers{{/link-to}}</li>
        <li>{{#link-to 'signup' signUp=signUp login=login}}Sign-up{{/link-to}}</li>
        <li>{{#link-to 'login' signUp=signUp login="login"}}Login{{/link-to}}</li>
        <li></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid">
    {{outlet}}
</div>
{{routable-modal-outlet}}
<br>
<br>
<div class="container"><hr></div>


{{!-- <footer class="page-footer"> --}}
  {{!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Dev Link</h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'developer'}}Developer{{/link-to}}</li>
          <li>{{#link-to 'forum'}}Forum{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div> --}}
  {{!-- <div class="footer-copyright"> --}}
    <div class="container center-align white-text">
      © 2017 <a class="white-text" href="https://github.com/Okwonks/dev-link">Devlink</a>
    </div>
  {{!-- </div> --}}
{{!-- </footer> --}}
