  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"> <img src="http://i.imgur.com/iLWQrBo.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        
<header class="header center-align banner-home">
    <img src="http://i.imgur.com/iLWQrBo.png" alt="">
    <h1>Devs Unite!</h1>
    <button class="btn">Join the Movement</button>
</header>
<div class="container">
{{outlet}}
</div>
