<div class="page-header">
    <h2>Devs</h2>
    <hr>
</div>

<div class="container">
    <div class="row">
        {{#each model as |developer|}}
            {{developer-tile developer=developer}}
        {{/each}}
    </div>

    <div class="container">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue">
        <i class="large material-icons">mode_edit</i>
    </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">add</i></a></li>
            </ul>
        </div>
    </div>
    {{new-developer saveDeveloper="saveDeveloper"}}
</div>