<header class="header center-align" id="developer-landing">
   <h1 id="devs-header">Devs</h1>
</header>
<div class="container page-header">
    <h2>Developers</h2>
    <small><h4>Link.Talk.Code</h4></small>
    <hr>
</div>

<div class="container" id="dev-container">
    <div class="row">
        {{#each model as |developer|}}
            {{developer-tile developer=developer}}
        {{/each}}
    </div>

    <div class="container">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue">
        <i class="large material-icons">mode_edit</i>
    </a>
            <ul>
                <li>{{#link-to 'signup' signUp=signUp class="btn-floating red" title="Sign Up with us"}}<i class="material-icons">add</i>{{/link-to}}</li>
            </ul>
        </div>
    </div>
    {{!-- {{new-developer saveDeveloper="saveDeveloper"}} --}}
</div>