<div class="container">
    <div class="page-header">
        <h3>Dev <small>Link</small></h3>
    </div>
    <div class="row">
        <h4>Linking developers to create a social platform for interacton and sharing ideas. Not only does <strong>Dev-link</strong>link
            these programmers together, it also acts as a platform of keeping up with the latest technology in the market.</h4>
    </div>

</div>
<div class="row">
    {{!-- INFO ON CARDS GOES HERE --}} {{#parallax-content speed=0.5 height=400 }}
    <img src="http://i.imgur.com/83KiFkV.png"> {{/parallax-content}}
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3" id="creative">
        {{!-- CREATIVITY SECTION. THINK OF SOMETHING BASED ON DEVS. --}}
        <p>
            Welcome to Dev-link
            <a class="btn btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>

        </p>
    </div>

</div>
{{new-developer}}